.i-false:after {
  content: none !important;
}

.nestable-list {
  padding-left: 0 !important;
}

.leftpadaccordion span {
  padding-left: 40px;
}

.timepick .react-time-picker__wrapper {
  border: 0;
}

.aikitaccordion .accordion-button::after {
  content: none;
}

.aikitaccordion .accordion-button:not(.collapsed)::after {
  content: none;
}

.aikitaccordion .prompt-header {
  padding: 0;
  margin-bottom: 10px;
}

.aikitaccordion .accordion-item {
  margin-bottom: 0;
}
[data-theme-version="dark"] .dz-dropdown select{
  color: #fff;
  background-color: #182237 !important;
  border-color: none !important;
  border-bottom-width: 2px !important;
}
[data-theme-version="dark"] .dz-dropdown2 select{
  color: #fff; 
  background-color: #182237 !important;
  border-color: #30394b !important;
  border-bottom-width: 2px !important;
}

.account-security-swiper .swiper-pagination {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    left: auto !important;
    width:50px !important;
}

.account-security-swiper .swiper-pagination-bullet-active {
    background-color: var(--text-dark) !important;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transform: scale(1.3);
}


.promtaccordion .accordion-item:first-of-type .accordion-button {
  border: 0;
}
.promtaccordion .accordion-item:first-of-type .accordion-button:hover {
  border: 0;
}
.promtaccordion .accordion-item:first-of-type .accordion-button:focus {
  box-shadow: none;
  border: 0;
}
.promtaccordion .accordion-item:first-of-type .accordion-button:not(.collapsed) {
  border: 0;
}

[data-theme-version="dark"] .flagselect .css-13cymwt-control {
    background-color: #182237;
    border-color:#ffffff1a;
}
[data-theme-version="dark"] .flagselect .css-13cymwt-control span{
    color: #fff;
}
[data-theme-version="dark"] .clearallselect{
    color: #fff;
}



.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content{
    border: 0 !important;
}